@{
    Layout = "default";
    Title = "FsBlog";
    Description = "A blog aware static site generator in mostly F#";
}
@helper PostDate(DateTime rawDate)
{
    <time datetime="@rawDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")" itemprop="datePublished">@rawDate.ToString("MMM d, yyyy")</time>
}

@foreach (var post in Enumerable.Take(Model.Posts, 5))
                    {
                        <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
                            <h1 class="title" itemprop="name">
				<a itemprop="url" href="@Model.Root/blog/@post.Url/">
					@post.Title
				</a>
			    </h1>
                            <div class="meta">
                                <span class="date">



                                    @PostDate(post.Date)
                                </span>
                                <span class="tags">@string.Join(",", post.Tags)</span>




                                <span class="comments"><a href="@Model.Root/blog/@post.Url/#disqus_thread">comments</a></span>

                            </div>
                            <div class="entry-content" itemprop="articleBody">
                                @post.Abstract
                            </div>
                        </article>
                    }